[Desktop Entry]
Type=Application
Exec=./w
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=k
Comment[en_US]=No description
X-GNOME-Autostart-Delay=0
